@model UserPortfolio

@{
    ViewBag.Title = "Paper Trading Dashboard";
}


<p>Your current balance: $ @Model.Balance</p>

<h3>Check Stock Price</h3>
<form asp-action="CheckStockPrice" method="post">
    <label for="symbol">Stock Symbol:</label>
    <input type="text" id="symbol" name="symbol" class="form-control input-styled" required />
    <br><button type="submit" class="btn btn-primary">Check Price</button>
</form>
<br>
@if (ViewBag.CurrentStockPrice != null)
{
    <p>The current price of <strong>@ViewBag.CurrentStockSymbol</strong> is <strong>@ViewBag.CurrentStockPrice:C</strong></p>
}
<br>
<h3>Buy Stocks</h3>
<form asp-action="BuyStock" method="post">
    <div class="form-group">
        <label for="symbol">Stock Symbol:</label>
        <input type="text" id="symbol" name="symbol" class="form-control input-styled" required />
    </div>

    <div class="form-group">
        <label for="shares">Number of Shares:</label>
        <input type="number" id="shares" name="shares" class="form-control input-styled" required />
    </div>

    <button type="submit" class="btn btn-success">Buy</button>
</form>
<br>
<h3>Your Holdings</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Purchase Price</th>
            <th>Current Price</th>
            <th>Profit/Loss</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Holdings != null && Model.Holdings.Count > 0)
        {
            @foreach (var holding in Model.Holdings)
            {
                <tr>
                    <td>@holding.Value?.Symbol</td>
                    <td>@holding.Value?.Shares</td>
                    <td>@holding.Value?.PurchasePrice:C</td>
                    <td>@holding.Value?.Price:C</td>
                    <td>@Model.GetProfitMargin(holding.Value.Symbol, holding.Value.Price):C</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5">You have no holdings yet.</td>
            </tr>
        }
    </tbody>
</table>
<br>
<h3>Sell Stocks</h3>
<form asp-action="SellStock" method="post">
    <div class="form-group">
        <label for="symbol">Stock Symbol:</label>
        <input type="text" id="symbol" name="symbol" class="form-control input-styled" required />
    </div>

    <div class="form-group">
        <label for="shares">Number of Shares:</label>
        <input type="number" id="shares" name="shares" class="form-control input-styled" required />
    </div>

    <button type="submit" class="btn btn-danger">Sell</button>
</form>

@if (TempData["Message"] != null)
{
    <p class="alert alert-info">@TempData["Message"]</p>
}

<style>
    body {
        background-color: #122953;
        font-family: 'Poppins', sans-serif;
        color: #f0f0f0;
    }

    h2, h3 {
        color: #76c7c0;
        font-weight: bold;
        margin-bottom: 20px;
    }

    p, label, th, td {
        color: #f0f0f0;
    }

    .form-control {
<<<<<<< HEAD
    border: 2px solid #76c7c0;
    border-radius: 5px;
    background-color: #1e2a48;
    color: #f0f0f0;
    padding: 10px;
    transition: all 0.3s ease-in-out;
=======
        background-color: #2A2A6A;
        color: #f0f0f0;
        border: 1px solid #76c7c0;
        border-radius: 5px;
        margin-top: 15px; /* Added spacing above input boxes */
        margin-bottom: 15px; /* Added spacing below input boxes */
>>>>>>> 464a047d4e55d921cb749b7fe6be30522c76c84b
    }

    .form-control:focus {
    border-color: #76c7c0;
    box-shadow: 0 0 0 0.1rem #76c7c0, 0 0 0 0.25rem #292959;
    }

    .btn {
        font-weight: bold;
        border-radius: 8px;
        padding: 10px 20px;
        transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s;
        margin-top: 15px; /* Added spacing above buttons */
        margin-bottom: 15px; /* Added spacing below buttons */
    }

<<<<<<< HEAD
    .btn-primary {
       background-color: rgba(0, 0, 0, 0.1);
=======
    .btn-primary, .btn-success, .btn-danger {
        background-color: #292959;
>>>>>>> 464a047d4e55d921cb749b7fe6be30522c76c84b
        color: #f0f0f0;
        border-radius: 8px;
        padding: 10px 20px;
        font-weight: 600;
        border: 2px solid #76c7c0;
        transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    }

    .btn-primary:hover, .btn-success:hover, .btn-danger:hover {
        background-color: #76c7c0;
        color: #292959;
        transform: scale(1.05);
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    }

<<<<<<< HEAD
    .btn-primary:focus {
        box-shadow: 0 0 0 0.1rem #76c7c0, 0 0 0 0.25rem #292959;
    }

    .btn-primary:active {
        background-color: #1b6ec2;
        color: #f0f0f0;
        transform: scale(0.95);
    }

    .btn-success {
        background-color: rgba(0, 0, 0, 0.1);
        color: #f0f0f0;
        border-radius: 8px;
        padding: 10px 20px;
        font-weight: 600;
        border: 2px solid #76c7c0;
        transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    }

    .btn-success:hover {
        background-color: #2A8A59;
        color: #f0f0f0;
        transform: scale(1.05);
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    }

    .btn-danger {
        background-color: rgba(0, 0, 0, 0.1);
        color: #f0f0f0;
        border-radius: 8px;
        padding: 10px 20px;
        font-weight: 600;
        border: 2px solid #76c7c0;
        transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    }

    .btn-danger:hover {
        background-color: #8A2A2A;
        color: #f0f0f0;
        transform: scale(1.05);
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    }

    table {
        width: 100%;
        border-collapse: collapse;
        background: linear-gradient(145deg, #23303d, #1b2b3a);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        overflow: scroll;
    }

    th {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid #76c7c0;
        background-color: #1a2c3b;
        font-weight: bold;
        color: #66c2a5;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    }

    th:hover {
        background-color: #76c7c0;
        color: #1a2c3b;
    }

    tr:hover {
        background-color: #2e4053;
        transition: background-color 0.3s ease;
    }

    tr:nth-child(odd) {
        background-color: #23303d;
    }

    tr:nth-child(even) {
        background-color: #1b2b3a;
    }

    td {
        font-size: 14px;
        padding: 12px 15px;
        text-align: left;
        color: #ecf0f1;
        border-bottom: 1px solid #76c7c0;
    }

=======
    table {
        background-color: #2A2A6A;
        color: #f0f0f0;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
        margin-bottom: 20px; /* Added spacing below table */
        display: grid;
        grid-template-columns: repeat(5, 1fr); /* Grid layout for 5 columns */
        gap: 10px;
    }

    th {
        background-color: #1B1B50;
        color: #76c7c0;
        text-align: center;
        padding: 15px;
    }

    td {
        text-align: center;
        padding: 15px;
    }
>>>>>>> 464a047d4e55d921cb749b7fe6be30522c76c84b

    tr:nth-child(even) {
        background-color: #32327B;
    }

    tr:hover td {
        background-color: #1B1B50;
    }

    td:hover {
        background-color: #76c7c0;
        color: #292959;
        transition: background-color 0.2s, color 0.2s;
    }

    .alert-info {
        background-color: #292959;
        color: #f0f0f0;
        border-radius: 5px;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px; /* Added spacing below alert */
    }

<<<<<<< HEAD
    .form-group {
        background-color: #1b2b3a;
        padding: 20px;
        margin-bottom: 20px;
    }

    .form-group label {
        color: #76c7c0;
        font-weight: 600;
    }

    .input-styled, .select-styled {
        background-color: #1b2b3a;
        color: #f0f0f0;
        border: 1px solid #76c7c0;
        border-radius: 6px;
        padding: 10px;
    }

    .input-styled::placeholder {
        color: #c0c0c0;
    }

    .form-control:focus {
    border-color: #76c7c0;
    box-shadow: 0 0 0 0.1rem #76c7c0, 0 0 0 0.25rem #292959;
    }
=======

>>>>>>> 464a047d4e55d921cb749b7fe6be30522c76c84b
</style>
